@viewport {
    zoom: 1.0;
    width: device-width;
}

* {
    border-style: solid;
    border-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


body {
    border: none;
    background-color: black;
    color: white;
}

h1 {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: auto;  
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: yellow;
    padding: 1rem;
}

#game {
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 2rem;
}

#start_button {
    position: relative;
    height: 2rem; 
    width: 8rem; 
}

#buttons {
    max-width: 50%;
    margin: auto; 
    height: 2rem; 
}